@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
    --color-purple: rgb(67, 0, 223);
    --color-orange: rgb(255, 81, 0);
    --color-gray: rgb(27, 27, 27);
    --color-black: rgb(22, 22, 22);
}
a {
    color: var(--color-orange);
}
input:focus {
    -webkit-border-before: none;
}
body {
    background-color: var(--color-gray);
    color: white;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
}
header {
    z-index: 100;
    position: relative;
    background-color: var(--color-black);
    box-shadow: 2px -34px 9px 34px rgba(0,0,0,0.75);
    top: 0px;
    width: 100%;
    min-width: 600px;
    height: 93px;
}
.header-buttons {
    width: 73%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
header div div img {
    width: 190px;
    justify-content: center;
    margin-top: 13px;
}
#header-user {
    text-align: center;
    margin-top: 7px;
}
#header-user a {
    color: white;
    text-decoration: none;
}
#header-user a:hover {
    border-bottom: 2px solid var(--color-orange);
    border-radius: 2px;
}
.header-greetings {
    font-size: 35px;
    margin-bottom: 4px;
}
#header-userName{
    color: var(--color-orange) !important;
    text-transform: capitalize !important;
}
.header-divisor {
    color: var(--color-orange);
    font-weight: 900;
}
#body-content {
    display: block;
    min-width: 600px;
    min-height: 84vh;
}
#content-container {
    display: block;
    padding: 100px;
    min-width: 450px;
    padding-top: 20px;
    margin: 0px auto;
}
footer {
    z-index: 100;
    background-color: rgb(15, 15, 15);
    box-shadow: 2px 34px 9px 34px rgba(0,0,0,0.75);
    color: var(--color-orange);
    margin-top: auto;
    width: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
footer p {
    padding-bottom: 3px;
}
button:hover {
    cursor: pointer;
}
