.container {
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.685);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    display: flex;

    overflow: hidden;

    position: fixed;
    margin: auto;

    width: 100%;
    height: 100%;

    z-index: 800;
}

.modal {
    width: max-content;
    max-height: 80%;
    padding: 10px 80px;
    overflow: auto;
    min-width: 500px;

    border: 3px solid white;
    border-radius: 9px;

    background-color: var(--color-gray);

    text-align: center;
}

.modal h2 {
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: 0.1px solid rgba(134, 134, 134, 0.74);
    text-transform: uppercase;
}

.content {
    margin: 20px;
}

#modalChangeBtn {
    padding: 5px 15px;
    margin: 30px;
}

#content-container {
    display: 0px;
    padding: 0px;
    padding-top: 0px;
}

input {
    display: block;
    margin: 10px;

    padding: 5px;
}
input[type="button"], button {
    padding: 5px 9px;
    background-color: var(--color-orange);
    border-radius: 3px;
    font-size: large;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 1px 1px 12px black;
}
input[type="button"]:hover, button:hover {
    color: white;
    cursor: pointer;
}
input[type="button"]:active, button:active {
    background-color: black;
    color: white;
}
/* Check this item "checkbox:checked" later */
input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-width: 19px;
    min-width: 19px;
    max-height: 19px;
    min-height: 19px;
    border: 2px solid #999;
    transition: 0.1s all linear;
    position: relative;
}
input[type="radio"] {
    border-radius: 100% !important;
}
input[type="checkbox"]:checked, input[type="radio"]:checked {
    border: 7px solid var(--color-orange);
}
input[type="color"] {
    padding: 0px;
    width: 40px;
    height: 27px;
}
input[type="date"], input[type="datetime-local"], input[type="time"]  {
    font-size: large;
    font-weight: 900;
    background-color: var(--color-black);
    border: 2px solid var(--color-orange);
    color: white;
}
input[type="email"], input[type="text"], input[type="password"],
input[type="text"], input[type="number"], input[type="search"],
input[type="url"], input[type="week"] {
    
    background-color: var(--color-black);
    border: 2px solid var(--color-orange);
    font-size: 17px;
    color: white;
}
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 30px var(--color-black) inset;
}
input[type="number"] {
    width: 150px;
}
input[type="range"] {
    width: 270px;
}
