input {
    width: 350px;
    height: 40px;
    text-indent: 11px;
    border-radius: 10px;
    border: 2px solid white;
    background: none;
    color: white;
    font-size: 16px;
    margin: 10px;
}
input:focus {
    border-color: var(--color-orange);
}
label {
    border-left: 2px solid var(--color-orange);
    padding-left: 2px;
}
.container-register h2 {
    margin-bottom: 40px;
    font-size: 40px;
}
.container-register {
    width: 460px;
    margin: 30px auto;
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.box label {
    width: 85px;
    text-align: center;
}
#btn-register {
    display: block;
    padding: 7px 18px;
    background-color: var(--color-orange);
    color: white;
    font-size: 24px;
    border-radius: 4px;
    margin: 25px auto 8px auto;
}
#btn-register:hover {
    cursor: pointer;
}
.bottom-buttons {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    text-align: right;
}
.bottom-buttons a {
    color: var(--color-orange);
    text-decoration: none;
    padding: 2px;
    border-bottom: 2px solid transparent;
}
.bottom-buttons a:hover {
    border-bottom: 2px solid var(--color-orange);
    border-radius: 2px;
}
.spanError {
    color: red;
    width: 100%;
    text-align: end;
    padding-right: 10px;
    font-size: smaller;
    visibility: hidden;
}