.field label {
    margin: 0px 10px;
    font-weight: 600;
    font-size: 11pt;
    text-align: left;
    text-transform: uppercase;
}

.field input {
    margin: 0px 10px 15px;
}

.field label, 
.field input {
    display: block;
}

input[type="radio"] {
    display: inline-block;
    text-align: left;
    margin: 0px 5px 0px 10px;
}
.radio label {
    display: inline-block;
    text-align: left;
}
.radio {
    text-align: left;
    margin-bottom: 20px;
}
.radio div {
    display: flex;
    align-content: center;
    margin: 5px 0px 10px 0px;
}
.radio div label {
    margin: 0px 9px 0px 0px;
}
.radio div input {
    margin-top: 1px;
}
.radio div input:checked {
    border: 2px solid white;
    background-color: var(--color-orange);
}
.title {
    display: block;
    width: 100%;
    border-left: 2px solid white;
    padding-left: 3px;
}
#destinationUrl, #nameUrl{
    width: 100%;
}
.generate-button button {
    padding: 15px;
    margin-bottom: 30px;
}
.field-shortenedUrl {
    margin-top: 30px;
    width: 450px;
    display: none;
}
.field-shortenedUrl input {
    width: 86%;
}
.displayFlex {
    display: flex;
}
#copyButton {
    height: 34px;
    width: 92px;
}
button:disabled, 
button:disabled:hover, 
button:disabled:active {
    background-color: rgba(204, 65, 0, 0.521);
    color: black;
    cursor: not-allowed;
}

/* box */

.bodyContainer {
    margin: 20px 17%;
}

.box {
    width: 100%;
    border: 1px solid red;
    border-radius: 30px;
    margin: 15px 0px;
    display: flex;
}

.boxCreateUrl {
    background-color: var(--color-orange);
}

#buttonModal {
    box-shadow: none;
    margin: 0px;
    width: 100%;
    height: 55px;
    border-radius: 30px;
    box-shadow: 0px 0px 9px black;
    font-size: 30px;
    font-weight: 500;
    color: rgb(34, 34, 34);
}