.field label {
    margin: 0px 10px;
    font-weight: 600;
    font-size: 11pt;
    text-align: left;
    text-transform: uppercase;
}

.field input {
    margin: 0px 10px 15px;
}

.field label, .field input {
    display: block;
}

input[type="radio"] {
    display: inline-block;
    text-align: left;
    margin: 0px 5px 0px 10px;
}
.radio label {
    display: inline-block;
    text-align: left;
}
.radio {
    text-align: left;
    margin-bottom: 20px;
}
.radio div {
    display: flex;
    align-content: center;
    margin: 5px 0px 10px 0px;
}
.radio div label {
    margin: 0px 9px 0px 0px;
}
.radio div input {
    margin-top: 1px;
}
.radio div input:checked {
    border: 2px solid white;
    background-color: var(--color-orange);
}
.title {
    display: block;
    width: 100%;
}
#destinationUrl{
    width: 100%;
}
.generate-button button {
    padding: 15px;
}
.shortenedUrl {
    margin-top: 30px;
}
.shortenedUrl input {
    width: 86%;
}
.displayFlex {
    display: flex;
}
#copyButton {
    height: 34px;
    width: 92px;
}
button:disabled, button:disabled:hover, button:disabled:active {
    background-color: rgba(204, 65, 0, 0.521);
    color: black;
    cursor: not-allowed;
}
